@import url(https://db.onlinewebfonts.com/c/c653ef3c19b3d42421a17c9a2f1502da?family=Unify+Sans);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Unify Sans";
  
}

html {
    
    font-size: 16px; /* 1rem = 16px */
    line-height: 1.5; /* Default line height */
    scroll-behavior: smooth;
  
    
}


html {
 
}

body {

}

.container {
  padding-inline: 15px;
  width: 100%;
  
}

h1 {
    font-size: 11.1vw; /* 40px */
    line-height: 1.2; /* 48px */
    font-weight: 800;
}

h2 {
    font-size: 8.88vw;
    line-height: 1.3; /* 41.6px */
    font-weight: 800;
}

h3 {
    font-size: 6.66vw;
    line-height: 1.3; /* 36.4px */
    font-weight: 800;
}

h4 {
    ffont-size: 6.66vw;
    line-height: 1.4; /* 33.6px */
    font-weight: 800;
}

h5 {
    font-size: 4.9vw;
    line-height: 1.5; /* 30px */
    font-weight: 700;
}

p {
    font-size: clamp(1rem, 5.55vw, 2.25rem);
    line-height: 1.5; /* 25.6px */
    font-weight: 500;
}

li {
  font-size: 4.44vw;
    line-height: 1.5; 
    font-weight: semibold;
}

a {
  font-size: 4.44vw;
}

i {
  font-size: 4.44vw;
}



.primary-btn {
  padding: 12px 36px;
  border-radius: 30px;
  background-color: #ff551d;
  color: #ffffff;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  border: 2px solid transparent;
  display: inline-block;
}

.primary-btn:hover {
  background-color: #ffffff;
  color: #ff551d;
  transform: translateY(-10px);
  border: 2px solid #ff551d;
}

.secondary-btn {
  padding: 12px 36px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #ff551d;
  transition: 0.5s;
  border: 2px solid #ff551d;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.secondary-btn:hover {
  background-color: #ff551d;
  border: 2px solid transparent;
  color: #ffffff;
  transform: translateY(-10px);
  border: 2px solid #ffffff;
}

/*----menu section---*/

.menu {
  width: 100%;
  z-index: 20;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-block: 20px;
  padding-inline: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 4;
  
 
  

}

.logo {
  align-self: flex-start;
  width: 46vw;
  flex-grow: 1;
}

.right-menu {
  
  align-self: center;
  
  width: calc(54vw-10px);
  display: flex;
  
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 40vw;
 
}

.right-menu a {
 font-size: 0.9rem;
 padding: 5px 10px;

}

.right-menu a:hover {
 transform: translateY(0px);
}


.right-menu i:hover {
 color: green;
}

.right-menu i {
 text-align: center;
 font-size: 1.5rem;
 font-weight: 400px;
}

.menudiv {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}

.menudiv.show {
  opacity: 1;
  visibility: inherit;
}

.list {
  left: 0;
  box-sizing: border-box;
  padding-block: 16px;
  padding-inline: 20px 20px;
  z-index: 3;
  width: 100%;
  position: absolute;
  background-color: white;
}

.list hr {
 padding: 0px;
 border: 0.7px solid black;
}

.list a {
  display: inline-block;
  padding: 14px 7px;
  text-decoration: none;
}

.list a:nth-child(11) {
  color: #ff551d;

}

/*-----header----*/

.header {
  background: linear-gradient(300deg, rgba(39,168,255,1) 0%, rgba(24,102,190,1) 13%, rgba(15,66,155,1) 31%, rgba(0,4,94,1) 73%);
  padding-top: 100px;
  padding-bottom: 52px;
  color: white;
  position: relative;
  
}

.header h1, .header h3 {
  margin-block: 40px;
}

.header img {
  width: 90vw;
  margin-inline: auto;
  margin-top: 40px;
 
}

.header h3 {
  padding-inline: 5px;
}

.header a {
  margin-block: 10px;
  display: inline-block;
}

.down {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  color: blue;
  transition: 0.4s;
  
}

.fa-angle-down {
  font-size: 2rem;
 
}

.down:hover {
 transform: scale(1.1)
}

/* features section----*/

.features {
padding-bottom: 20px;
padding-top: 80px;
font-size: 16px
}

.img-div {
position: relative;
background-image: url(images/asset8.png);
background-size: contain;
}


.img-div img:nth-child(1) {
  width: 50%;
  height: auto;
 margin-inline: auto;
 display: block;
}

.img-div img:nth-child(2) {
  width: 25%;
  height: auto;
  position: absolute;
  top: 40%;
  bottom: 20%;
  left: 12%;
}

.img-div img:nth-child(3) {
  width: 30%;
  height: auto;
  position: absolute;
  top: 30%;
  bottom: 20%;
  right: 15%;
}

.features h1, .features h5, .features p {
  margin-block: 1rem;
}

.list-items {
  margin-block: 1rem;
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  flex-direction: column;
}

.list-items ul {
  list-style-type: none;
  
}

.list-items li {
margin-block: 0.5rem;
position: relative;
padding-left: 1.5rem;
}

.list-items li::before {
  content: '';
  background-image: url('images/asset9.png');
  background-size: contain;
  background-position: center;
  width: 1rem;
  position: absolute;
  height: 1rem;
  left: 0px;
}


.list-items ul:nth-child(1) {
  
}

.list-items ul:nth-child(2) {
  
}

.features a {
  margin-block: 1rem;
}

/*---- stats section-----*/

.stats {
 background: linear-gradient(300deg, rgba(7,155,255,1) 0%, rgba(17,110,215,1) 13%, rgba(18,61,136,1) 31%, rgba(0,0,0,1) 73%);
 padding-top: 2rem;
 color: white;
 border-bottom: 0.1rem solid white;
}

.stats h1, .stats p {
 margin-block: 0.5rem;
 
}

.stats-div {
display: flex;
justify-content: center;
align-items: center;
gap: 0.8rem;
flex-wrap: wrap;
}

.stats-div div {
  text-align: center;
  width: 95%;
  border-radius: 20px;
  background-color: rgba(0, 0, 240, 0.2); 
  padding-block: 10px;
  
}

.cta {
margin-bottom: -3rem;
text-align: center;
background-color: white;
border: 2px solid blue;
border-radius: 10px;
box-shadow: 0px 0px 8px black;
color: black;
margin-top: 3rem;
padding-inline: 1rem;

}

.cta img {
  width: 50%;
  height: auto;
  margin-top: -3rem;
  
}

.cta h1, .cta p {
  
}

.stats a {
  border: 2px solid blue;
  color: blue;
  margin-block: 2rem;
  
}

.stats a:hover {
  border: 2px solid transparent;
  color: white;
  background-color: blue;
}


/*---- ttutorials section-----*/

.tutorials {
  padding-bottom: 2rem;
  color: black;
  padding-top: 4rem;
}

.tutorials h1 {
  margin-block: 1.5rem;
}

.tutorials h5 {
  margin-block: 1rem;
}

.tutorials p {
  margin-block: 1rem;
}

.tutorials ul {
  margin-block: 1rem;
}

.tutorials li {
  margin-block: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
  list-style-type: none;
}

.tutorials li::before {
  content: '';
  background-image: url('images/asset9.png');
  background-size: contain;
  background-position: center;
  width: 1rem;
  position: absolute;
  height: 1rem;
  left: 0px;
}

.tutorials a {
  margin-block: 1.5rem;
}

.ppc {
  width: 100%;
  height: auto;
  background-image: url(images/asset13.png);
  background-size: cover;
  background-position: center;
  margin-block: 1.5rem;
}

.ppc img {
  width: 60%;
  height: auto;
  margin-inline: auto;
  display: block;
}
.tutorial hr {
  border: none;
  border-top: 2px solid black;
}

/*---- tools section-----*/

.tools {
  padding-bottom: 2rem;
  color: black;
  padding-top: 4rem;
}

.tools h1 {
  margin-block: 1.5rem;
}

.tools h5 {
  margin-block: 1rem;
}

.tools p {
  margin-block: 1rem;
}

.tools ul {
  margin-block: 1rem;
}

.tools li {
  margin-block: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
  list-style-type: none;
}

.tools li::before {
  content: '';
  background-image: url('images/asset9.png');
  background-size: contain;
  background-position: center;
  width: 1rem;
  position: absolute;
  height: 1rem;
  left: 0px;
}

.tools a {
  margin-block: 1.5rem;
}

.keyword {
  width: 100%;
  height: auto;
  margin-block: 1.5rem;
}

.keyword img {
  width: 60%;
  height: auto;
  margin-inline: auto;
  display: block;
}

/*---- blogs section-----*/

.blogs {
  background-color: #f9f5ea;
  padding-block: 2rem;
  
}

.blogs h2, .blogs h3 {
  margin-bottom: 1rem;
}

.flink {
 color: #0047ff;
 font-weight: bold;
 text-decoration: none;
 margin-top: 0.6rem;
 display: inline-block;
}

.post-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-block: 2rem;
  
}

.head-img {
  width: 100%;
  overflow: hidden;
  display: relative;
  border-radius: 15px;
  flex-grow: 0.4;
  height: auto;
}

.head-img img {
width: 130%;
height: 130%;
object-fit: cover;
}

.head-text {
  width: 100%;
  height: auto;
  text-align: left;
 
  
}

.head-text a {
  border: 2px solid blue;
  color: blue;
  margin-block: 1rem;

}

.head-text a:hover {
  border: 2px solid transparent;
  color: white;
  background-color: blue;
}

.head-text h3, .head-text p, .head-text a {
 margin-block: 1rem;
}

  .posts {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
  }
  
  .post1 {
    background-image: url(images/tiktok.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .post2 {
    background-image: url(images/seo.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .post3 {
    background-image: url(images/privacy.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .post4 {
    background-image: url(images/tiktok.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  
.right-btn {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 0.8rem;
    margin-inline: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-btn i {
    
    margin-block: auto;
  }
  
  .post1-text {
   text-align: center;
   padding: 1rem;
   background-color: black;
   color: white;
   transform: translateY(70%);
   transition: 0.3s;
  }
  
  .post1:hover .post1-text  {
    transform: translateY(0%)
  }
  
  .post2-text {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    transform: translateY(70%);
    transition: 0.3s;
  }
  
  .post2:hover .post2-text {
    transform: translateY(0%)
  }
  
  .post3-text {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    transform: translateY(73%);
    transition: 0.3s;
  }
  
  .post3:hover .post3-text {
    transform: translateY(0%)
  }
  
  .post4-text {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    transform: translateY(70%);
    transition: 0.3s;
  }
  
  .post4:hover .post4-text {
    transform: translateY(0%)
  }
  

  
  /*-------newsletter section---*/
  
  .newsletter {
    padding-block: 2rem;
    background-color: white;
    text-align: center;
    
  }
  
  .input-cta {
    padding-block: 1rem;
    width: 100%;
    display: block;
    margin-inline: auto;
  }
  
  .input {
    
    padding-block: 1rem;
  }
  
  .input input {
    
  }
  
  .input [type="email"] {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 2px solid blue;
    width: 100%;
    
  }
  
  .input[type="email"]:focus {
    border: 2px solid blue;
    outline: none;
  }
  
  .input [type="submit"] {
    padding: 0.9rem;
    text-align: center;
    width: 100%;
    border: 4px solid blue;
    color: blue;
    border-radius: 40px;
    transition: 0.4s;
  }
  
  .input [type="submit"]:hover {
    border: 4px solid transparent;
    color: white;
    background-color: blue;
  }
  
  /*----footer section----*/
  
  .footer {
    background-color: black;
    color: white;
    padding-block: 3rem;
  }
  
  .footer-flex {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   row-gap: 3rem;
   margin-bottom: 2rem;
    
  }
  
 .footer-flex div {
   width: 80%;
   
   
 }
 
 .footer-flex img {
   width: 90%;
   height: auto;
 }
 
 .footer-flex div a {
   display: block;
   text-decoration: none;
   transition: 0.4s;
   color: white;
   margin-block: 0.4rem;
   
 }
 
 .footer-flex div a:hover {
   color: #0098fe;
 }
 
 .social {
   padding-block: 2rem;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   margin-inline: auto
 }
 
 .social a {
   width: 15%;
   height: auto;
 }
 
 .social img {
   width: 100%;
   height: auto;
 }
 
 .copyright {
   text-align: center;
 }
 
 .copyright p {
   display: inline;
   font-size: 1rem;
 }
 
 .copyright a {
   text-decoration: none;
   transition: 0.4s;
   color: white;
 }
 
 .copyright a:hover {
   color: #0098fe;
 }
 
 .credit {
   width: 100%;
   text-align: center;
   margin-top: 2rem;
 }
 
 .credit p {
   font-size: 1rem;
   opacity: 0.4;
   display: inline;
 }
 
 .credit a {
   text-decoration: none;
   transition: 0.4s;
   color: white;
   opacity: 0.4;
   transition: 0.5s;
 }
 
 .credit a:hover {
   opacity: 1;
   color: #0098fe;
 }